{% extends 'base.html' %}

{% block title %}
    Hotels
{% endblock title %}

{% block style %}

    <style>
        .hotel img {
            max-width: 70vh;
        }
    </style>

{% endblock style %}

{% block content %}

    {% for hotel in hotels %}

        <div class="hotel">
            <a href="{% url 'hotel_detail' hotel.id %}">
                <h1>Name: {{ hotel.name }}</h1>
            </a>
            
            <h1>Address: {{ hotel.address }}</h1>
            <h1>City: {{ hotel.city }}</h1>
            <h1>Country: {{ hotel.country }}</h1>
            <p>Rating: {{ hotel.rating }}</p>
            <p>Description: {{ hotel.description }}</p>
            <img src="{{ hotel.image.url }}" alt="">
        </div>

    {% endfor %}

{% endblock content %}